.home-container{
    background-image: url(./Home-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 172vh;
}

.wrapper{
    padding-bottom: 4%;
    display: block;
    /* color: black;
    background-color: #DF8453; */

}

.searchbar{
        position: absolute;
        left: 84%;
        top: 4%;
        transform: translate(-50%, -50%);
        /* color: black;
        background-color: #DF8453; */
}

.filters-container {
    position: absolute;
    left: 47%;
    top: 4%;
    transform: translate(-50%, -50%);
    /* border: 3px solid black; */
    /* color: black;
    background-color: #DF8453; */

}

.btn-refresh{
  position: absolute;
  left: 46%;
  top: 8%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  /* color: white;
  background-color: #3D8DAE; */
}



.home-title-container{
    position: absolute;
    left: 16%;
    top: 4%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.create-wrapper{
  position: absolute;
  left: 70%;
  top: 4%;
  transform: translate(-50%, -50%);
}

.create{
  font-size: 1em;
  /* color: white;
  background-color: #3D8DAE; */

  height: 3rem;
  width: 9rem;
  border: 3px solid #3082a6;
  background: transparent;
  color: black;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.create::before, 
.create::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: inherit;
  transition: 0.5s ease;
}

.create::before{
  left: -15px;
  top: -15px;
  border-width: 3px 0 0 3px;
}

.create::after{
  right: -15px;
  bottom: -15px;
  border-width: 0 3px 3px 0;
}

.create:hover::after,
.create:hover::before{
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}



/* https://img.freepik.com/foto-gratis/comida-ingredientes_1220-4884.jpg?w=2000 */

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }

  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. 🖌 */
  
  .container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 100vh
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 8.5vw;
    text-transform: uppercase;
  }

  .content-cards{
    /* border: 2px solid black; */
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;           /* stetch(default), flex-start, baseline */
    /* align-content: flex-start; */
  }    