.home-container {
	height: 100%;
	background-image: url(./Home-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;;
}

.wrapper {
	padding-top: 1rem;
	display: grid;
	grid-template-columns: auto auto auto auto;
	flex-wrap: wrap;
	justify-content: space-around;
}

.home-title-container {
	font-size: 26px;
	position: relative;
	top: -22%;
}


.create {
	font-size: 1em;
	height: 3rem;
	width: 9rem;
	border: 3px solid #3082a6;
	background: transparent;
	color: black;
	font-weight: bold;
	position: relative;
	cursor: pointer;
}


.create::before,
.create::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border: inherit;
	transition: 0.5s ease;
}

.create::before {
	left: -15px;
	top: -15px;
	border-width: 3px 0 0 3px;
}

.create::after {
	right: -15px;
	bottom: -15px;
	border-width: 0 3px 3px 0;
}

.create:hover::after,
.create:hover::before {
	width: calc(100% + 27px);
	height: calc(100% + 27px);
}


.title-word {
	animation: color-animation 4s linear infinite;
}

.title-word-1 {
	--color-1: #DF8453;
	--color-2: #3D8DAE;
	--color-3: #E4A9A8;
}

.title-word-2 {
	--color-1: #DBAD4A;
	--color-2: #ACCFCB;
	--color-3: #17494D;
}

@keyframes color-animation {
	0% {
		color: var(--color-1)
	}

	32% {
		color: var(--color-1)
	}

	33% {
		color: var(--color-2)
	}

	65% {
		color: var(--color-2)
	}

	66% {
		color: var(--color-3)
	}

	99% {
		color: var(--color-3)
	}

	100% {
		color: var(--color-1)
	}
}


.container {
	display: grid;
	place-items: center;
	text-align: center;
	height: 100vh
}

.title {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 8.5vw;
}

.content-cards {
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}