.filters-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filters{
    display: grid;
    grid-template-columns: auto auto auto;
    /* flex-direction: row; */
}

.filters-container select{
    font-size: 1em;
    border-radius: 3px;
    color: black;
    background-color: #889EAF;
}

