.detail-container {
    min-height: 100vh;
    background-image: url(./detail-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
}

h1 u {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.summary {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    /* font-weight: 700; */

}

.summary p {
    width: 66%;
    text-align: center;
    /* background-color: #87805E; */
}

.center-detail-content {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: lightpink; */
    height: auto;
}

.group {
    /* background-color: lightgrey; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.healthscore-dish-detail {
    /* background-color: lightskyblue; */
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    margin-bottom: 0.25rem;
    border: 1px solid black;

}

img {
    width: 75%;
    display: flex;
    border-radius: 1rem;
    border: 1px solid black;
}

.steps-wrapper {
    width: 50%;
    display: flex;
}

.steps-div2 {
    margin: 0.6rem 0;
}

.steps-details-div p {
    border: 1px solid black;
}

.details-diets {
    display: flex;
    flex-direction: row;
    /* background-color: limegreen; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding-top: 0.4rem;
    margin-top: 0.25rem;
    border: 1px solid black;
    /* border-top: none; */

}